section {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#mirror1 {
  border: 1px solid teal;
  width: 50%;
  height: auto;
  box-sizing: border-box;
  word-wrap: break-word
}

#mirror2 {
  border: 1px solid red;
  width: 50%;
  box-sizing: border-box;
  word-wrap: break-word;
}
#message {
text-align: center;
  margin: 4px;
  display: flex;
  flex-wrap: wrap;
}